L20-Step_functions_for_long_running_tasks/Step Functions/myserverlessproject/stepFunction.yml
---
Comment: A Step function to send remainder emails after 24hours
StartAt: AddEmailtoDB
States:
  AddEmailtoDB:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      FunctionName: {"Fn::Join":[":",["arn:aws:lambda:us-east-1",{"Ref": "AWS::AccountId"},"function:${self:service}-${self:provider.stage}-addSignup"]]}
      Payload:
        Input.$: "$"
    Next: wait for 24hr
  wait for 24hr:
    Type: Wait
    Seconds: 20
    Next: Read DB
  Read DB:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      FunctionName: {"Fn::Join":[":",["arn:aws:lambda:us-east-1",{"Ref": "AWS::AccountId"},"function:${self:service}-${self:provider.stage}-getSignup"]]}
      Payload:
        Input.$: "$"
    Next: has played
  has played:
    Type: Choice
    Choices:
    - Variable: "$.Payload.played"
      StringEquals: 'true'
      Next: close
    Default: send remainder email
  send remainder email:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      FunctionName: {"Fn::Join":[":",["arn:aws:lambda:us-east-1",{"Ref": "AWS::AccountId"},"function:${self:service}-${self:provider.stage}-sendReminderEmail"]]}
      Payload:
        Input.$: "$"
    Next: close
  close:
    Type: Succeed
